.complete-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.complete-submit-btn {
  --background: rgb(245, 0, 19);
}

ion-button {
  --background-hover: rgb(245, 0, 19);
  --background-activated: rgb(245, 0, 19);
}
